{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="form">
        <h2>Update category</h2>
        {{ form_start(form) }}
            {{ form_row(form.name, {'attr': {'class':'form form-control'}}) }}

            <input type="submit" value="save" class="btn btn-primary mt-4">
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}