{% extends 'base.html.twig' %}

{% block title %}Stock history{% endblock %}

{% block body %}
<div class="container">
    <h1>Stock history</h1>
    {% include 'layouts/_flash_message.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Date Added</th>
            </tr>
            {% for productAdded in productsAdded %}
            <tr>
                <td>{{ productAdded.id }}</td>
                <td>{{ productAdded.quantity }}</td>
                <td>{{ productAdded.createdAt|date('d-m-y H:i:s') }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}
