{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
{% endblock %}

{% block title %}New Product{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Product</h1>

    {{ include('product/_form.html.twig', {'button_label': 'add'}) }}

    <a class="btn btn-secondary" href="{{ path('app_product_index') }}">back to list</a>
</div>
{% endblock %}
