.container {
    background-color: rgba(156, 156, 156, 0.151);
    padding: 15px;
    border-radius: 10px;
    margin-top: 5%;
}

.btn {
    width: 100%;
    border: transparent;
    background-color: rgba(0, 0, 0, 0.041);
    color: black;
    margin: 1px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

.card {
    height: 500px;
    display: flex;
    width: 250px;
}

.cardBody {
    margin: 5px;
}

.cardBody h3 {
    position: absolute;
    bottom: 30px;
}

.btnCart {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
}

.titleProduct {
    text-decoration: none;
    color: black;
}

.imgproduct {
    height: 50%;
    object-fit: cover;
    object-position: top;
}

.showContainer {
    display: flex;
    margin: 30px;
    justify-self: center;
}

.showContainer div {
    margin: 10px;
}

.cartPrice {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.pPrice {
    font-size: larger;
    font-weight: bolder;
}

.productShowImgLatest {
    height: 150px;
}

ul.pagination {
    justify-self: center;
}

#pageSelectCurrent {
    background-color: lightgrey;
    border: rgb(0, 0, 0) solid 0px;
    color: black;
}
#pageSelectCurrent {
    background-color: rgb(238, 238, 238);
    color: black;
}

#pageSelectElse {
    background-color: lightgrey;
    color: black;
    border: 0px;
}
#pageSelectElse:hover {
    background-color: rgb(238, 238, 238);
    color: black;
}

.page-link {
    color: black;
    border: 0px;
    border-radius: 5px;
    background-color: lightgrey;
}

.page-link:hover {
    background-color: rgb(238, 238, 238);
    color: black;
}

.pagination {
    gap: 15px;
}