.container {
    background-color: rgba(156, 156, 156, 0.151);
    padding: 15px;
    border-radius: 10px;
    margin-top: 5%;
}

.btn {
    width: 100%;
    border: transparent;
    background-color: rgba(0, 0, 0, 0.041);
    color: black;
    margin: 1px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card {
    height: 500px;
    display: flex;
    width: 250px;
}

.cardBody {
    margin: 5px;
}

.cardBody h3{
position: absolute;
bottom: 30px;
}

.btnCart {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
}

.titleProduct {
    text-decoration: none;
    color: black;
}

.imgproduct {
    height: 50%;
    object-fit: cover;
    object-position: top;
}

.showContainer {
    display: flex;
    margin: 30px;
    justify-self: center;
}

.showContainer div {
    margin: 10px;
}

.cartPrice {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.pPrice{
    font-size: larger;
    font-weight: bolder;
}

.productShowImgLatest{
    height: 150px;
}